.vs/Ringkes/FileContentIndex/06c527c4-282a-477f-a35a-81b2ce8a02eb.vsidx
.vs/Ringkes/FileContentIndex/06c527c4-282a-477f-a35a-81b2ce8a02eb.vsidx
/.vs/Ringkes/FileContentIndex
/Ringkes/obj/Release
/.vs/Ringkes/CopilotIndices/17.14.1686.8233
/.vs/Ringkes/CopilotIndices/17.14.1686.8233
/Ringkes/obj/Release
/.vs/Ringkes/v17
/.vs/Ringkes/CopilotIndices/17.14.1686.8233
.vs/Ringkes/CopilotIndices/17.14.1686.8233/CodeChunks.db-shm
